%p#notice= notice 
%p
	%b name
	= @post.name
%p
	%b title
	= @post.title
%p
	%b content
	= @post.content 
%h2 comments 
= render @post.comments
%h2 add a comment 
= render "comments/form"
%br
= link_to 'edit', edit_post_path (@post)
= link_to 'back', posts_path 
